{% include 'header.html' %}

<section id="list_diary" class="list list_diary">
    <h2 class="screen_out">다이어리 리스트</h2>
    <div class="write-container">
        <div class="list-actions">
            <div class="list-actions-header">
                <a href="{% url 'list_diary' %}">
                    <h1 style="color: #636363; font-weight: bold;">다이어리 목록</h1>
                </a>
            </div>
            <div class="list-actions-buttons">
                <button class="btn-list-action">
                    <a href="{% url 'write_diary' %}">새 일기 작성하기</a>
                </button>
            </div>
        </div>
        <form method="GET" action="{% url 'list_diary' %}">
            <div class="form-row">
                <div class="form-group">
                    {{ form.year }}
                </div>
                <div class="form-group">
                    {{ form.month }}
                </div>
                <button type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>

        <hr/>
        <div class="diary-grid">
            {% for item in diary_list %}
                <div class="card">
                    <a href="{% url 'detail_diary_by_id' unique_diary_id=item.diary.unique_diary_id %}" class="link_card">
                        <div class="card-img">
                            {% if item.representative_image %}
                                <img src="data:image/png;base64,{{ item.representative_image }}"
                                     width="300"
                                     alt="Representative Image">
                            {% else %}
                                <span class="txt_noimg">No image</span>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <strong class="card-title">{{ item.diary.diarytitle }}</strong>
                            <div class="badge_tour">
                                <span class="scope_badge">
                                    <em class="screen_out">{{ item.badge_name }} 뱃지</em>
                                    {% if item.badge_image %}
                                        <img src="data:image/png;base64,{{ item.badge_image }}" class="img_badge" alt="{{ item.badge_name }}">
                                    {% endif %}
                                </span>
                                <em class="screen_out">별명</em>
                                <strong class="tit_badge">{{ item.nickname }}</strong>
                            </div>
                            <p class="card-date">{{ item.diary.created_at|date:"Y년 n월 j일" }}</p>
                        </div>
                    </a>
                </div>
            {% empty %}
                <p>No diaries found.</p>
            {% endfor %}
        </div>

        <!-- 페이징 네비게이션 -->
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if form.year.value %}&year={{ form.year.value }}{% endif %}{% if form.month.value %}&month={{ form.month.value }}{% endif %}" class="pagination-btn">처음</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if form.year.value %}&year={{ form.year.value }}{% endif %}{% if form.month.value %}&month={{ form.month.value }}{% endif %}" class="pagination-btn">이전</a>
            {% endif %}

            <span class="pagination-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if form.year.value %}&year={{ form.year.value }}{% endif %}{% if form.month.value %}&month={{ form.month.value }}{% endif %}" class="pagination-btn">다음</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if form.year.value %}&year={{ form.year.value }}{% endif %}{% if form.month.value %}&month={{ form.month.value }}{% endif %}" class="pagination-btn">끝</a>
            {% endif %}
        </div>
    </div>

    <script>
    function adjustGridColumns() {
        var grid = document.querySelector('#list_diary .diary-grid');
        var containerWidth = grid.offsetWidth;
        var columnCount = Math.floor(containerWidth / 300); // 300px는 각 카드의 최소 너비입니다
        columnCount = Math.max(1, Math.min(3, columnCount)); // 1에서 3 사이의 값으로 제한
        grid.style.gridTemplateColumns = `repeat(${columnCount}, 1fr)`;
    }

    window.addEventListener('load', adjustGridColumns);
    window.addEventListener('resize', adjustGridColumns);
    </script>
</section>

{% include 'footer.html' %}