{% include 'header.html' %}
<section id="detail_diary" class="diary detail_diary">
    <h2 class="screen_out">여행지 찜 목록</h2>
    <div class="write-container">
        <h1 style="color: #636363; font-weight: bold;">찜한 여행지</h1>
        <hr/>
        <ul>
            {% for item in page_obj.object_list %}
                <li>
                    <h3 style="display: block; margin-top: 30px;"><strong>장소:</strong> {{ item.place }}</h3>
                    <ul>
                        {% for day, places in item.travel_dates.items %}
                            <li>{{ day }}: {{ places|join:", " }}</li>
                        {% endfor %}
                    </ul>
                    <small>추가된 날짜: {{ item.added_at|date:"Y년 n월 j일 H:i" }}&nbsp;&nbsp;</small>
                    <a href="{% url 'remove_wish' place=item.place %}" class="btn-sdiary-action">삭제</a>
                </li>
            {% empty %}
                <li>찜 목록이 비어 있습니다.</li>
            {% endfor %}
        </ul>
        <!-- 페이징 네비게이션 -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if form.year.value %}&year={{ form.year.value }}{% endif %}{% if form.month.value %}&month={{ form.month.value }}{% endif %}">&laquo; 처음</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if form.year.value %}&year={{ form.year.value }}{% endif %}{% if form.month.value %}&month={{ form.month.value }}{% endif %}">이전</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if form.year.value %}&year={{ form.year.value }}{% endif %}{% if form.month.value %}&month={{ form.month.value }}{% endif %}">다음</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if form.year.value %}&year={{ form.year.value }}{% endif %}{% if form.month.value %}&month={{ form.month.value }}{% endif %}">끝 &raquo;</a>
                {% endif %}
            </span>
        </div>
        <button class="btn-diary-action">
            <a href="{% url 'list_diary' %}">전체 다이어리 보기</a>
        </button>
    </div>
</section>
{% include 'footer.html' %}
